<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="WebSiteBaseUrl" value=""/>-->

    <!-- folder locations 
    <add key="firefoxLocation" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    <add key="webDriverBrowserfolder" value="" />
    <add key="phantomJSLocation" value="" />
    <add key="BrowserToRunTestsIn" value="Firefox" />
    <add key="LocationOfFailedImage" value=""/>
    -->
  </appSettings>
</configuration>